div#container {
  text-align: center;
  border: 10px solid #80475E;
  background-color: #34344a;
  color: #f0f757;
}

#expenseTable {
margin-left: auto;
margin-right: auto;
width: 100%;
background-color: #c89b7b;
table-layout: fixed;
}

#expenseTable > thead > tr:nth-child(1) {
background-color: #cc5a71;
}